body {
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
}

.login-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 40px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-top: 5%;
}

.login-container form {
    display: flex;
    flex-direction: column;

    div {
        margin-bottom: 15px;
    }

    label {
        margin-bottom: 5px;
    }

    input, button {
        width: 300px;
        padding: 15px;
        margin: 0 auto 15px auto;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 14px;
    }

    button {
        margin-top: 30px;
        background-color: #94b9ff;
        color: white;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }
    }
}

