// src/features/AddTransactions/AddTransactions.scss
.add-transactions-banner-container {
  width: 100%;
  padding: 10px 0;
}

.add-transactions-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.add-transactions-logo-container {
  display: flex;
  align-items: center;
}

.add-transactions-logo-container img {
  height: 50px;
  margin-right: 10px;
}

.add-transactions-logo-container .logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.add-transactions-container {
  text-align: center;
  padding: 2rem; /* Ensure padding is consistent */
  margin: 0 auto; /* Center the container */
  max-width: 600px; /* Optional: Set a max-width to control the width */
}

.button-container {
  margin-top: 1rem;
}

.transaction-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

.transaction-button:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #777;
  background-color: transparent;
}