.add-transaction-income {
    padding: 50px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.add-transaction-income form {
    display: flex;
    flex-direction: column;
}

.add-transaction-income form div {
    margin-bottom: 20px;
}

.add-transaction-income form input,
.add-transaction-income form select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-transaction-income form .category-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0 10px;
    max-height: 300px;
    overflow-y: auto;
}

.add-transaction-income .category-list::-webkit-scrollbar {
        width: 10px;
    }

.add-transaction-income .category-list::-webkit-scrollbar-thumb {
    background-color: #e8ffed;
    border-radius: 5px;
}

.add-transaction-income form .category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 10px;

}

.add-transaction-income form .category-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.add-transaction-income form {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.add-transaction-income .category-item.selected {
    background-color: #94b9ff;
    border-radius: 50px;
    color: white;
}

.single-date-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% ; /* Set desired width */
}

.add-transaction-income form button:hover {
    background-color: #0056b3;
}

.single-date-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.single-date-picker-container .custom-date-picker-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #f0f0f0; /* Change to your desired background color */
    color: #333; /* Change button text color */
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.single-date-picker-container .custom-date-picker-button:hover {
    background-color: #e0e0e0; /* Change button hover background color */
}


.single-date-picker-container .rdp-day_button {
    background-color: transparent; /* Change button background color */
    color: #333; /* Change button text color */
}

.single-date-picker-container .rdp-range_end .rdp-day_button {
    color: #ffffff;
    background-color: #0fccce;
}

.single-date-picker-container .rdp-day rdp-focused .rdp-day_button {
    color: #ffffff;
    background-color: #0fccce;
}

.single-date-picker-container .rdp-selected .rdp-day_button {
    border: #0fccce;
}

.rdp-root.single-date-picker-container {
    --rdp-accent-color: #0fccce;
    --rdp-accent-background-color: #cdffd842;
}

.single-date-picker-container .rdp-button_previous,
.single-date-picker-container .rdp-button_next {
    background-color: transparent; /* Change button hover background color */
}



.single-date-picker-container .rdp-button_previous:hover,
.single-date-picker-container .rdp-button_next:hover {
    background-color:  #0fccce;
}

.single-date-picker-container .rdp-button_previous svg.rdp-chevron polygon,
.single-date-picker-container .rdp-button_next svg.rdp-chevron polygon {
    fill: #333333; /* Change to your desired color */
}



