.add-transaction-income {
    padding: 20px;
    margin-top: 2rem;
    padding: 1rem;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.add-transaction-income h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.add-transaction-income form {
    display: flex;
    flex-direction: column;
}

.add-transaction-income form div {
    margin-bottom: 15px;
}

.add-transaction-income form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.add-transaction-income form input,
.add-transaction-income form select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-transaction-income form .category-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0 10px;
    max-height: 200px;
    overflow-y: auto;
}

.add-transaction-income form .category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.add-transaction-income form .category-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 5px;
}

.add-transaction-income form button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-transaction-income form button:hover {
    background-color: #0056b3;
}

.single-date-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.single-date-picker-container .custom-date-picker-button {
    background-color: #f0f0f0; /* Change to your desired background color */
    color: #333; /* Change button text color */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.single-date-picker-container .custom-date-picker-button:hover {
    background-color: #e0e0e0; /* Change button hover background color */
}

