.settings-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-info, .update-profile {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
}

.profile-info h2, .update-profile h2 {
  margin-top: 0;
}

.settings-container input::placeholder {
  color: #888; /* Gray color for placeholder text */
  font-style: italic; /* Italic style for placeholder text */
}

.settings-container form {
  display: flex;
  flex-direction: column;

  div {
    margin-bottom: 15px;
  }

  label {
    margin-bottom: 5px;
  }

  input, button {
    width: 300px;
    padding: 15px;
    margin: 0 auto 15px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }

  button {
    margin-top: 30px;
    background-color: #94b9ff;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}