.navbar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    color: white;
    background-color: transparent; /* Remove background color */
}

.navbar-menu {
    position: relative;
}

.dropdown-toggle {
    background-color: transparent; /* Remove background color */
    color: #333;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px; /* Increase font size for hamburger icon */
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}